<div class="container">
     

      <div class="column">
    
        <div class="col-lg-12 col-sm-12">
          <div class="container">
            <div class="card border-0 shadow my-5" id="article">
              <div class="card-body p-0">     

                <div class="row">
              
                  <div class="col-lg-10 col-sm-12">

                    <div class="card">

                      <%if @article.title.present?%>

                        <h3 class= "text-center">Changer le titre de l'article:</h3>
                      <%else%>

                        <h3 class="text-center">Saisis le titre du nouvel article:</h3>
                      <%end%>                        
                      
                      <div class="card-body">                      
              
                        <%= form_with model: @article,  url: admin_article_path(@article.id), method: 'put',local: true, class: 'col-12 offset-12 mx-auto p-0' do |f| %>
                          <hr>
                          <%if flash[:danger] %>
                            <div class="alert alert-danger text-center" role="alert">
                              <%=flash[:danger] %>
                            </div>
                          <% end %>
                                                    
                    
                          <div class= 'form-group'>
                                
                            <%= f.text_field :title, class: 'form-control' %>
                          </div>
                    
                    
                          <hr> 
                          
                          <div>
                              
                            <%if @article.article_images.attached?%>
                              <%= image_tag @article.article_images.first, alt: 'article_image',class:"img-fluid rounded" %>  
                                
                            <%else%>
                                <h5 class="font-weight-bold">=== Veuillez uploader une carte pour cet article ===</h5>
                                </br>
                                <%= form_tag admin_article_article_images_path(params[:id]), multipart: true do %>
                                  <%= file_field_tag :article_images %>
                                  <%= submit_tag "Upload" %>
                                <% end %>
                            <% end%> 
                          </div> 

                          <hr>
                          </br>
                              
                                  
                          <%if @article.body.present?%>
                                  
                            <h3 class="text-center ">modifier le texte :</h3>
                          <%else%>
                            <h3 class="text-center">Saisis un texte :</h3>
                          <%end%>
                                    
                          <hr>
                      
                          <div class= 'form-group'>
                                    
                            <%= f.text_area :body, class: 'form-control' %>
                          </div>
                              
                          <%= f.submit "Enregistrer les modifications", class: 'btn  btn-success btn-rounded' %>
                      
                        <% end %>
                            
                            
                        </br>
                        </br>
                        <% if @article.paragraphs.present? %>
                
                          <% @article.paragraphs.each do |paragraph|%>
                            <%= form_with model: paragraph,  url: admin_article_paragraphs_path(@article.id,paragraph.id), method: 'put',local: true, class: 'col-12 offset-12 mx-auto p-0 ' do |f| %>
                              <hr>
                              <%if flash[:danger] %>
                                <div class="alert alert-danger text-center" role="alert">
                                  <%=flash[:danger] %>
                                </div>
                              <% end %>
                                                        
                        
                              <div class= 'form-group  m-0 '>
                                    
                              <%= f.text_area :body, class: 'form-control mb-1' %>
                              </div>
                              <%= f.submit "Enregistrer les modifications du paragraphe", class: 'btn  btn-success btn-rounded mt-0' %>
                              
                              <%end%>
                            <div>
                            </br>
                            
                            <% paragraph.id %>

                                                      

                            <%if paragraph.ph_image.attached?%>
                            <%= image_tag paragraph.ph_image, alt: 'ph_image',class:"img-fluid rounded" %>
                            <p class="font-weight-bold">=== changer de carte pour ce paragraphe? ===</p>
                            <%= form_tag admin_article_paragraph_ph_images_path(params[:id],(paragraph.id)), multipart: true do %>
                              <%= file_field_tag :ph_image %>
                              <%= submit_tag "Upload" %>
                            <% end %>
                          <%else%>
                            <p class="font-weight-bold">=== Uploader une carte pour ce paragraphe? ===</p>
                            
                            <%= form_tag admin_article_paragraph_ph_images_path(params[:id],(paragraph.id)), multipart: true do %>
                              <%= file_field_tag :ph_image %>
                              <%= submit_tag "Upload" %>
                            <% end %>
                          <% end%>  

                            </div>
                            </br>
                          <% end %>
                        <% end %>
                            
                
                            
                      </div> 
                    </div> 
                  </div> 

                </div>      
              </div>
            </div>      
          </div> 
        </div> 
      </div> 
   
</div> 
