<div class="container">
  <div class="card border-0 shadow my-5" id="rubric">
    <div class="card-body p-0">     
      <div class="row">
          
        <div class="col-lg-10 col-sm-12">
          <div class="card">
          
            <div class="card-header dark bg-dark">
              <h2 class="m-0 dark"><%= @article.title %></h2>
            </div>
            <% if current_user != nil %>
            <% if current_user.is_admin %>
              </br>
              <%=link_to "Modifier l'article",edit_admin_article_path(@article.id ),class: 'btn btn-outline-secondary font-weight-bold ml-3 my-2 my-sm-0' %>
            <%end%>
            <%end%>
            
            <div class="card-body p-2 ">
            <%= image_tag((@article.article_images.first),  class:"img-fluid rounded") %>

            </br>

            <p class="lead"><%= @article.body %></p>

            </br>

            <% if current_user != nil %>
            <% if current_user.is_admin %>
              
              <%= form_with model: @rubric,  url: admin_rubric_path(@rubric.id), method: 'put',local: true, class: 'col-5 offset-5 mx-auto' do |f| %>
                      
                <%if flash[:danger] %>
                  <div class="alert alert-danger text-center" role="alert">
                    <%=flash[:danger] %>
                  </div>
                <% end %>
                                    
    
                <div class= 'form-group'>
                  
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
    
    
                <hr>
    
                
                <%= f.submit "Enregistrer les modifications", class: 'btn btn-lg btn-success btn-rounded' %>
    
              <% end %>
              <%=link_to "Ajouter un paragraphe",admin_article_path(@article.id ),class: 'btn btn-outline-secondary font-weight-bold ml-3 my-2 my-sm-0' %>
            <%end%>
            <%end%>
            </div>  
          </div> 
        </div> 
      </div> 
    </div>     
  </div> 
</div> 


