<div class="container mx-auto px-5">
  <div class="card material-shadow m-5" id="event">
    <div class="card-body">

      <div class="row">
        <div class="col-12 mx-auto text-center">
        
          <h3 class="text-center">Saisis le titre de la nouvelle rubrique :</h3>
          <hr>

          <%= form_with model: @rubric,  url: admin_rubrics_path, method: 'post',local: true, class: 'col-5 offset-5 mx-auto' do |f| %>
          
            <%if flash[:danger] %>
              <div class="alert alert-danger text-center" role="alert">
                <%=flash[:danger] %>
              </div>
            <% end %>
                                

            <div class= 'form-group'>
              
              <%= f.text_field :title, class: 'form-control' %>
            </div>


            <hr>

            <%= f.hidden_field :creator, value: current_user %>
            <%= f.submit "Créer la rubrique et ajouter une image", class: 'btn btn-lg btn-success btn-rounded' %>

          <% end %>

          <br>
          
        </div>
      </div>

    </div>
  </div>
</div>